<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8z-qBnep35J5tDcbD9hw1TlRyDQxstt8</string>
	<key>GCM_SENDER_ID</key>
	<string>382251378395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KennethSoftware.notes</string>
	<key>PROJECT_ID</key>
	<string>notesapptutorialyt</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapptutorialyt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382251378395:ios:a4ee6ca4247d5c5b0b4efe</string>
</dict>
</plist>